<aside>
  <ul>
    <li><%= link_to "All Books", books_path %></li>
    <li><%= link_to "Recently Added", books_path(order: "recent") %></li>
    <li><%= link_to "Authors", "#" %></li>
  </ul>
</aside>
